/* ============================== General Styles ============================== */
/*.ed-container {
  border: 1px solid orange;
}

.ed-item {
  border: 1px solid gray;
}*/


/* ============================== Home Styles ============================== */
/* ==========  Header Section ========== */
.header_container {
  background-color: #263238;
  background-color: #AD1457;
  color: white;
}

.text.menu .item {
  /*border: 1px dashed orange;*/
  color: white !important;
}

.menu_logo {
  width: 18em !important;
}

.menu_item {
  font-size: 1.1em;
  padding-left: 6em !important;
}

.container_header_bground {
  background-image: url('../img/image1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60em;
}

/* ==========  Welcome Section ========== */
.welcome_container {
  padding-bottom: 3em;
  padding-top: 3em;
}

.welcome_title,
.welcome_subtitle,
.welcome_text {
  color: #AD1457;
  padding-bottom: 1em;
  text-align: center;
}

.welcome_subtitle,
.welcome_text {
  /*color: #151515;*/
  color: rgba(21,21,21, .7);
}

.container_welcome_textIcon {
  padding-top: 3em;
}

.container_welcome_textIcon .header.icon{
  color: rgba(21,21,21, .7);
}
