/* ============================== General Styles ============================== */
/*.ed-container {
  border: 1px solid orange;
}

.ed-item {
  border: 1px solid gray;
}*/


/* ============================== Home Styles ============================== */
/* ==========  Header Section ========== */
.home-header-container {
  background-attachment: fixed;
  background-image: url(../img/image1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 47em;
  padding-bottom: 38em;
}

.menu-and-social-container {
  background-color: #F03A47;
  color: white;
}

.menu-header {
  /*border: 1px solid yellow !important;*/
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.menu-header-right {
  margin-right: 1em !important;
}

.mobile-menu-icon {
  color: white;
  font-size: 2.7em !important;
  margin-left: 3.5em !important;
  margin-top: .7em !important;
}

.mobile-menu-items {
  width: 100%;
}

.menu-item {
  /*border: 1px solid black;*/
  color: white !important;
}

.logo-header {
  margin-top: .5em;
  width: 7em;
}

.contact-data {
  /*border: 1px solid yellow !important;*/
  color: #F03A47;
  color: white;
  padding-top: 2em;
}

@media screen and (min-width: 568px) {
  .mobile-menu-icon {
    margin-left: 7.5em !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 760px){
    .home-header-container {
      height: 30em;
    }
}


/* ==========  Welcome Section ========== */
.welcome-section {
  background-color: white;
  box-shadow: 0px 1px 8px lightslategrey;
  /*border: 1px dashed darkred;*/
  margin-top: -3em;
  padding-top: 1em;
}

.welcome-item-icon {
  color: #F03A47;
}

@media screen and (min-width: 320px) and (max-width: 760px){
    .welcome-section {
      box-shadow: none;
      margin-top: -70em;
    }
}

@media screen and (min-width: 760px) and (max-width: 1024px){
    .welcome-section {
      max-width: 95%;
      min-width: 95%;
    }
}


/* ==========  about Section ========== */
.about-container {
  padding-bottom: 3em;
  padding-top: 5em;
}

.about-text-container {
  padding-bottom: 1em;
}

.about-text {
  text-align: justify;
}

.top-about-title {
  color: #F03A47;
  font-family: 'lato' , sans-serif;
  margin-bottom: -1.5em;
}

.main-about-title {
  font-family: 'lato' , sans-serif;
}

.about-image {
  border-radius: 3px;
  float: right;
  margin-left: 1em;
  margin-top: -4.6em;
  width: 45%;
}

@media screen and (min-width: 320px) and (max-width: 760px){
  .about-container {
    margin-top: 0em;
  }

  .about-text-container {
    text-align: center;
  }
}


/* ==========  corporate services Section ========== */
.corporate-container {
  background-color: #F03A47;
  padding-bottom: 5em;
  padding-top: 5em;
}

.top-corporate-title,
.main-corporate-title,
.body-corporate-text {
  color: white;
  text-align: center;
}

.top-corporate-title {
  margin-bottom: -1.5em;
}

.main-corporate-title {
  margin-bottom: 1em;
}

.body-corporate-text {
  font-size: 1.3em;
  padding-left: 6em;
  padding-right: 6em;
  text-align: justify;
}

@media screen and (min-width: 320px) and (max-width: 760px){
 .body-corporate-text {
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
  } 
}


/* ==========  services Section ========== */
.services-container {
  background-color: #F5F5F5; 
  padding-bottom: 5em;
  padding-top: 5em;
}

.services-text-container {
  margin-bottom: 2em;
}

.top-services-title {
  color: #F03A47;
  margin-bottom: -1.5em;
  text-align: center;
}

.main-services-title {
  text-align: center;
}

.service-card-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
  margin-bottom: 2em !important;
  width: 100% !important;
}

.service-one {
  background-image: url('../img/cultura2.jpg') !important;
}

.service-two {
  background-image: url('../img/medio-ambiente.jpg') !important;
}

.service-three {
  background-image: url('../img/d-economico.jpg') !important;
}

.top-card {
  height: 18em;
}

.card-inside-text {
  padding: 0 .5em;
}

.medium-card {
  background-color: rgba(0, 0, 0, .6) !important;
}

.medium-card a, .medium-card span {
  color: white !important; 
} 


/* ==========  achievement Section ========== */
.achievement-container {
  background-color: #F03A47;
  padding-top: 1em;
}

.achievement-item, .achievement-item div {
  color: white !important;
}


/* ==========  contact Section ========== */
.contact-container {
  background-attachment: fixed;
  background-image: url('../img/image1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-logo {
  width: 15em; 
}

.contact-data-container,
.contact-form-container { 
  /*border: 1px dashed yellow;*/
  background-color: rgba(25, 25, 35, .7);
  color: white; 
  padding-bottom: 2em;
  padding-top: 3em;
}

.contact-data-container { 
  padding-left: 5em;
}

.contact-item {
  margin-bottom: 1em;
}

.contact-item-icon {
  color: #F03A47 !important;
}

.contact-item-header {
  color: white !important;
}

.contact-item-info {
  color: white !important;
}

.contact-form-container { 
  padding-right: 5em;
}

.contact-form label {
  color: white !important; 
}

@media screen and (min-width: 320px) and (max-width: 760px){
  .contact-logo {
    display: block;
    margin: auto; 
  }

  .contact-data-container { 
    padding-left: 0;
  }

  .contact-item {
    margin-left: 3em;
  }

  .contact-form-container { 
    padding-right: 1em;
  }
}


/* ==========  footer Section ========== */
.footer-container {
  background-color: #F03A47;
}

.copyright-container,
.creator-container,
.facebook-container,
.twitter-container {
  color: white;
  padding: .5em 0;
  text-align: center;
}

.footer-link {
  color: white;
}

.footer-link:hover {
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 760px){
  .copyright-container,
  .creator-container,
  .facebook-container,
  .twitter-container {
    padding-left: 1em;
    text-align: justify;
  }
}


/* ============================== Programas Styles ============================== */
/* ==========  header Section ========== */
.header-image-container {
  height: 13em;
}

.header-image-layer {
  /*background-color: rgba(25, 25, 35, 0.5);*/
  background-color: rgba(240, 58, 71, 1);
}

.header-title {
  color: white;
  font-family: 'lato' , sans-serif;
  font-size: 2.5em;
  padding-top: 1em;
  text-align: center; 
}

.header-logo-container {
  background-color: white;
  border-radius: 50%;
  height: 125px;
  padding-top: 2em;
  position: relative;
  top: 1em;
  text-align: center;
  width: 125px;
}

.header-logo {
  width: 75%;
}

/* ==========  info Section ========== */
.program-image-container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35em;
}

.culture {
  background-image: url('../img/cultura2.jpg');
}

.environment {
  background-image: url('../img/medio-ambiente.jpg');
}

.e-development {
  background-image: url('../img/d-economico.jpg');
}

.info-text-container {
  padding-bottom: 4em;
  padding-top: 4em;
}

.info-text {
  font-size: 1.3em;
  text-align: justify;
  padding: 0 4em;
}

@media screen and (min-width: 320px) and (max-width: 760px){
  .program-image-container {
    height: 30em;
  }

  .info-text-container {
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .info-text {
    padding: 0 1em;
  }
}

/* ==========  contact Section ========== */
.contact-container2 {
  background-attachment: fixed;
  background-image: url('../img/image1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.contact-sub-container {
  background-color: rgba(25, 25, 35, .7);
  padding-bottom: 2em;
  padding-top: 2em;
  width: 100%;
}

.contact-logo2 {
  display: block;
  display: none;
  margin: auto; 
  width: 15em;
}

.contact-icon-item, .contact-icon-item div {
  color: white !important;
}

.contact-icon-item i {
  color: rgb(240, 58, 71);
}